########################################
# Change these as needed
########################################

HAVEJAVA=
HAVEST=1
HAVEPSTHREADS=1
HAVEPERL=
HAVEPHP=

MAKEDEPEND=echo makedepend Not installed

# Location of state thread library and include directory

STLIB =	$(ROOT)/../../st-1.9/obj/libst.a
STINC =	-I$(ROOT)/../../st-1.9/obj

# Location of libcurl include and library

CURLINC = -I/usr/local/include
CURLLIB = -L/usr/local/lib -lcurl

# Location of JDK

JDK=/usr/local/libexec/jdk1.6.0


# Version of perl to use

PERLversion=5
PERLrevision=8
PERLarch=$(shell perl -V:archlib| tr -d "';" | cut -f2 -d=)

# Installation details

INSTALLCMD=install
INSTALLDIR=/usr/local
RUNDIR=/usr/local/var
RUNUSER=$(shell logname)
RUNGROUP=wheel

########################################
## Do not changes these
########################################

INC =	$(ROOT)/include
CSL =	$(ROOT)/clientServiceLibrary 

ifeq ($(shell uname),Linux)
LDEF =	-D_FILE_OFFSET_BITS=64
endif

WARN =	-pedantic -Wno-long-long -Wall
DEBUG = -g
LINC =	-I$(INC) -I$(CSL)
COMMONLIB = $(ROOT)/commonLibrary/common.a
LDLIBS = -L$(CSL) -lpluton

CXXFLAGS = $(WARN) $(DEBUG) $(LINC) $(LDEF)
CFLAGS = $(WARN) $(DEBUG) $(LINC) $(LDEF)
